

.navbar-brand{
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 1.5em;
}

.content{
    margin: 2em;
}

.task-column{
    width: 50%;
}

.other-column{
    width: 10%;
}
